
*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1280px;
}
.SimHei{
    font-family: "黑体", "微软雅黑", "宋体", sans-serif;
}
.YaHei{
    font-family: "微软雅黑","黑体",  "宋体", sans-serif;
}
.SimSun{
    font-family: "宋体","微软雅黑","黑体", sans-serif;
}
.bottom-border{
    width: 30px;
    height: 2px;
    margin: 0 auto;
}
.f_left{
    float: left;
}
a{
    text-decoration: none;
}
li{
    float: left;
    list-style: none;
}
input{
    border:none;
}




header{
    min-width: 1280px;
    height:60px;
}
.logo{
    height: 36px;
    padding: 12px 60px;
}
header img{
    width: 36px;
    height: 36px;
}
.logo p{
    font-size: 21px;
    color: #393a3a;
    padding: 6px 10px;
}
header ul{
    float: right;
    margin-right: 30px;
}
header li{
    padding: 12px 30px;
    line-height: 24px;
}
header li a{
    color: #393a3a;
    font-size: 14px;
    font-family: "微软雅黑", "黑体", "宋体", sans-serif;
}
#sign-in{
    background: url("../images/sign-in.png") no-repeat 10px 16px;
    border-bottom: none;
}
header li:hover{
    border-bottom: solid 5px #e74f4d;
}
#sign-in a,header li:hover a{
    color: #e74f4d;
}


.banner{
    min-width: 1280px;
    height: 690px;
    background: url("../images/banner.png") no-repeat;
    background-size:cover;
}
.banner-shade{
    background-color:rgba(0,0,0,0.2);
    padding: 230px 0 182px 115px;
}
.banner-title{
    font-size: 60px;
    color: #fff;
    padding-bottom: 15px;
}
.banner-text{
    font-size: 21px;
    color: #fffdfd;
    padding-left: 10px;
    line-height: 32px;
}
.start-to{
    width:330px;
    height: 65px;
    background-color: #e74f4d;
    margin: 55px 0 0 10px;
    text-align: center;
    line-height: 65px;
}
.start-to a{
    font-size: 30px;
    color: #fff;
    letter-spacing: 3px;
}


nav{
    height: 250px;
}
nav li{
    width: 25%;
    text-align: center;
}
nav img{
    padding: 45px 0;
}
.nav-text{
    height: 50px;
    border-right: solid 2px #989999;
}
nav p{
    width: 160px;
    font-size: 14px;
    color: #767777;
    line-height: 18px;
    padding: 7px;
    margin: 0 auto;
}
.no-border{
    border-right: none;
}



.new-world-logo{
    height:360px;
    background-color: #edecec;
    text-align: center;
}
.new-world-logo figure{
    padding-top:90px;
}
.new-world-logo figcaption{
    font-size: 54px;
    color: #a1a1a1;
    line-height: 135px;
}



.map{
    min-width: 1280px;
    height: 340px;
    background: url("../images/map-bg.png") no-repeat;
    background-size:cover;
    text-align: center;
}
.map-shade{
    background-color:rgba(170,53,51,0.2);
    padding: 40px 0 134px 0;
}
.map-title{
    font-size: 21px;
    color: #fff;
    line-height: 42px;
}
.color-white{
    background-color: #fff;
}
.map-text{
    font-size: 12px;
    color: #fff;
    line-height: 54px;
    opacity: 0.8;
    padding-bottom: 30px;
}
.map form{
    height: 36px;
}
#country{
    width: 215px;
    height: 15px;
    margin-right: 30px;
    padding: 10px;
    background: #fff url("../images/map-button.png") no-repeat 207px 8px;
}
#search{
    height: 35px;
    margin-right: 30px;
    background-color: #be4e48;
    color: #fff;
    font-size: 14px;
    letter-spacing: 25px;
    padding: 0 66px 0 91px;
}
.selects{
    width: 235px;
    height: 36px;
    padding: 5px 10px;
    margin-right: 30px;
    border: solid 1px #bf4f49;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: #fff url("../images/map-button.png") no-repeat 207px center;
    /*对被选中和隐藏的值设置字体大小和颜色*/
    color: #a8aaaa;
    font-size: 12px;
}
.selects option{
    color: #323333;
    line-height:25px;
    background-color: #e3e2e4;
}


.activities{
    height: 605px;
    background-color: #f7f7f7;
}
.activities img{
    padding: 10px 10px;
    border: solid 1px #e0e0e0;
    border-bottom: none;
    background-color: #ffffff;
}
#img-shanghai{
    border: solid 1px #e0e0e0;
}
.activities ul{
    width: 996px;
    padding: 100px 0px 115px 0px;
    margin: 0 auto;
}
.activities figure{
    width: 222px;
    height: 390px;
    text-align: center;
    margin-right: 36px;
}
.activities-title{
    font-size: 15px;
    color: #323333;
    line-height: 35px;
}
.activities-subtitle{
    font-size: 12px;
    color: #a1a1a1;
    line-height: 25px;
}
.activities-shanghai{
    font-size: 20px;
    color: #323333;
    letter-spacing: 30px;
    padding-left:20px;
    line-height: 32px;
}
#no_margin{
    margin-right: 0;
}



.activity-beijing{
    height: 565px;
}
.activity-img{
    width: 66%;
    padding: 115px 0 144px 0;
    text-align: center;
    color: #fff;
    background: url("../images/activity-beijing.png") no-repeat top left;
<<<<<<< HEAD
    background-size: 100% 100%;
=======
    background-size: cover;
>>>>>>> origin/master
}
.left-arrow{
    background: url("../images/left-arrow.png") no-repeat center right;
}
.bigger{
    font-size: 50px;
    line-height: 76px;
}
.biggest{
    font-size: 158px;
    line-height: 114px;
    padding-bottom: 30px;
}
#organizers,.activity-img time{
    font-size: 22px;
    line-height: 43px;
}
.activity-intro{
    width: 34%;
}
.intro-main{
<<<<<<< HEAD
    width:290px;
=======
    width: 290px;
>>>>>>> origin/master
    height: 277px;
    margin: 160px auto 128px auto;
}
.activity-intro-title{
    font-size: 22px;
    color: #323333;
    padding-bottom: 25px;
    font-weight: bold;
    text-align: center;
}
.activity-intro-title span{
    color: #e8504e;
}
.activity-intro-text{
    font-size: 12px;
    color: #aaa;
    line-height: 30px;
    text-indent: 24px;
}
.more-details{
    padding-top: 35px;
    text-align: center;
}
.more-details p{
    width: 105px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    border: solid 1px #e25c60;
}
.more-details a{
    font-size: 12px;
    color: #e25c60;
}
.more-details ul{
    margin: 0 106px;
}
.more-details li{
    width: 8px;
    height: 8px;
    border: solid 1px #919292;
    border-radius: 9px;
    margin: 30px 8px 0 8px;
}
.selected{
    background-color: #919292;
}
.more-details li:hover{
    background-color: #919292;
}



.view-more{
    height:520px;
}
.red-bg,.white-bg{
    width: 33%;
    height: 150px;
    text-align: center;
    padding: 170px 0 200px 0;
    font-size: 21px;
}
.red-bg{
    background-color: #e74f4d;
    color: #fff;
}
.white-bg{
    background-color: #fff;
    color: #323333;
}
.part-text{
    line-height: 30px;
    padding-bottom: 20px;
}
.white-bg a{
    color: #e74f4d;
}
.red-bg a{
    color: #fff;
}
.look-over{
    width: 170px;
    height: 40px;
    line-height: 40px;
    margin: 25px auto 0 auto;
}
.border-white{
    border: solid 1px #fff;
}
.border-red{
    border: solid 1px #e74f4d;
}
.color-grey{
    background-color: #aaa;
}
.img-bg{
    width: 34%;
    height: 520px;
<<<<<<< HEAD
    background: url("../images/view-more.png") no-repeat;
    background-size: 100% 100%;
=======
    background: url("../images/view-more.png") no-repeat top left;
    background-size: cover;
>>>>>>> origin/master
}
.img-shade{
    width: 100%;
    height: 520px;
    background: rgba(4,0,0,0.4) url("../images/right-arrow.png") no-repeat center left;
}



.join-us{
    width: 1010px;
    height: 475px;
    text-align: center;
    padding: 110px 0 165px 0;
    margin: 0 auto;
}
.join-us-title{
    font-size: 21px;
    color: #323333;
    line-height: 40px;
}
.color-red{
    background-color: #e74f4d;
}
.join-us-subtitle{
    width: 435px;
    font-size: 12px;
    color: #aaa;
    line-height: 18px;
    padding: 10px 0 100px 0;
    margin: 0 auto;
}
.branch-left{
    width: 290px;
    margin-right: 80px;
    color: #231815;
    text-align: left;
}
.join-us h4{
    font-size: 14px;
    opacity: 0.6;
}
.agreement-text{
    font-size: 12px;
    opacity: 0.4;
    line-height: 21px;
    padding-top: 20px;
}
.protocol{
    margin-bottom: 40px;
}
.rights{
    margin-bottom: 20px;
}
.more{
    text-align: right;
    background: url("../images/more.png") no-repeat 245px 9px ;
}
.more a{
    font-size: 12px;
    color: #231815;
    opacity: 0.6;
}
.branch-right{
    width: 640px;
    color: #231815;
    text-align: left;
    font-size: 12px;
}
.information{
    width: 310px;
    height: 40px;
    margin-right:20px;
    margin-bottom: 15px;
    background-color: #ededee;
}
.information p{
    padding: 10px 20px;
    opacity: 0.6;
}
.information input{
    width: 210px;
    background-color: #ededee;
}
.no_margin{
    margin-right: 0;
}
.describe textarea{
    width:600px;
    height: 100px;
    background-color: #ededee;
    padding: 10px 20px;
    border:none;
    margin-bottom: 15px;
}
textarea::-webkit-input-placeholder{
    color:#231815;
    opacity: 0.6;
}
.submit{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #ededee;
}
.submit input{
    color: #323333;
    font-size: 14px;
    background-color: #ededee;
}



.contact-us{
    width: 100%;
    padding: 82px 0 70px 0;
    text-align: center;
    background-color: #32353e;
}
.contact-us-title{
    font-size: 21px;
    color: #fff;
    line-height: 40px;
}
.contact-us-subtitle{
    width: 470px;
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    margin: 0 auto;
    opacity: 0.3;
}
.contact-us form{
    width: 510px;
    height: 40px;
    font-size: 0;
    margin: 30px auto;
}

.input-text{
    width:410px;
    height: 12px;
    padding: 14px 10px;
    font-size: 14px;
}
.input-button{
    width:80px;
    font-size: 15px;
    color: #fff;
    padding: 10px 20px;
    letter-spacing: 10px;
    background-color: #707278;
}
.contact-us ul{
    width: 240px;
    height: 32px;
    margin: 0 auto;
}
.contact-us li{
    padding: 0 15px;
}


footer{
    height: 60px;
    background-color: #303039;
    padding: 0 40px 0 100px;
    line-height: 60px;
}
footer span{
    display: inline-block;
    float: left;
    font-size: 12px;
    color: #fff;
}
footer a{
    display: inline-block;
    float: right;
    font-size: 12px;
    color: #fff;
}