body{
    margin:20px 10%;
    background-color: #ccc;
    font-family: "Arial","微软雅黑","sans-serif";
}
abbr{
    text-decoration: none;
    border:none;
}
a{
    text-decoration: none;
}
h1{
    clear: both;
}
li{
    float: left;
    list-style-type: none;
    padding: 20px;
}