
#input{
    width: 250px;
    height:30px;
}
button{
    background-color: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 5px;
    font-size: 16px;
    line-height: 20px;
    width: 80px;
}
#btn2{
    margin-right: 50px;
}
ul{
    padding: 0;
}
li{
    display: table-cell;
    text-align: center;
    width: 30px;
    list-style: none;
    float: left;
    background-color: red;
    font-size: 24px;
    color: #fff;
    margin: 0 5px;
}
div{
    height: 500px;
}
